.notification-im-slider-item-div{
    display: flex;
    padding: 15px 10px;
    background-color: #fff;
    width: 320px;
    cursor: pointer;
}
.notification-im-slider-item-content{
    margin: 0 0 0 5px;
    width: 250px;
}
.notification-im-slider-item-name{
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.notification-im-silder-item-time{
    color: #8a919f;
    font-size: 13px;
    margin: 4px 0 0 auto;
}
.notification-im-silder-item-cnt{
    font-size: 13px;
    color: #8a919f;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width: 200px;
    margin: 2px 20px 0 0;
}