.notification-page-header-div{
    width: 100%;
    background-color: #fff !important;
    border-top: 1px solid #e6e5e5;
    border-bottom: 1px solid #e6e5e5;
    /* box-shadow:0px 1px 2px #909090; */
    padding: 0px 50px !important;
    height: 45px !important;
    line-height: 46px !important;
    min-width: 1200px;
    overflow: hidden;
}
.notification-page-header-menu{
    display:flex;
    align-items:center;
}
.notification-page-header-menu li{
    padding-top: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}