.notification-page-header-div{
    width: 100%;
    background-color: #fff !important;
    border-top: 2px solid #e6e5e5;
    /* border-bottom: 1px solid #e6e5e5; */
    /* box-shadow:0px 1px 2px #909090; */
    padding: 0px 50px !important;
    height: 46px !important;
    line-height: 46px !important;
    min-width: 1200px;
    overflow: hidden;
}
.notification-page-header-menu{
    display:flex;
    align-items:center;
}
/* 强制修改元素前请注意层级，不要直接以下所有子类，否则容易出现问题 */
.notification-page-header-menu>li{
    padding-top: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}