.article-page-content{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.article-page-article-com{

}
.article-page-right-cards{
    margin-left: 15px;
}
.article-page-article-content{
    background-color: #fff;
    width: 830px;
    padding: 30px;
    border-radius: 15px;
}
.article-page-article-comment{
    margin: 20px 0 20px 0;
    padding: 30px;
    background-color: #fff;
    width: 830px;
    border-radius: 15px;
}