.creator-slider-div{
    background-color: #fff;
    min-height: 100%;
    border-radius: 5px;
}
.creator-slider-avatar-btn-div{
    padding: 10px 15px;
}
.creator-slider-menu-div{
    display: block;
    height: calc(100vh - 230px);
    overflow: auto;
}