.creator-article-data-div{
    background-color: #fff;
    border-radius: 5px;
}
.creator-article-data-tabs-span{
    margin: 0 15px 0 15px;
}
.creator-article-data-page{
    margin: 0 0 0 10px;
    padding: 10px 0;
}