.register-modal .ant-modal-content {
    border-radius: 20px !important;
}
.register-modal .ant-modal-header {
    border-radius: 20px !important;
}
.register-form-button{
    width: 100%;
    border-radius: 15px !important;
    line-height: 50px;
}