.textover-hidden{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-list-item-set .ant-list-item-main{
    width: 0 !important;
}
.article-list-item-set:hover{
    cursor: pointer;
    background-color: rgb(251, 251, 251);
}
.article-list-item-set .ant-list-item-meta{
    margin-bottom: 8px !important;
}
.article-list-item-set .ant-list-item-meta-title{
    margin-bottom: 6px !important;
    font-weight: bold;
    font-size: 18px;
}
.article-list-item-set .ant-list-item-extra{
    margin-left: 20px;
}
.article-list-user-href{
    text-decoration: none;
    color: rgba(0,0,0,.45);
}
.article-list-item-img{
    max-width: 250px;
      max-height: 120px;
      vertical-align: middle;
}